@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--breakpoint-xxs: 320px;
	--breakpoint-xs: 425px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1440px;
	--breakpoint-2xl: 2560px;
}
